@import "tailwindcss";

@theme {
  --color-table-libre: #22c55e;
  --color-table-en-attente: #eab308;
  --color-table-reservee: #3b82f6;
  --color-table-occupee: #f97316;
  --color-table-noshow: #ef4444;
  --color-table-inactive: #9ca3af;
}
